{% extends "base.html" %}
{% block content %}


<div class="card-box" style="max-width:600px;margin:auto;">
    <h2>Event Feedback</h2>

    <p><b>Event:</b> {{ event.event_type.event_type }}</p>
    <p><b>Date:</b> {{ event.from_datetime|date:"d M Y" }}</p>

    <form method="POST">
        {% csrf_token %}

        <label>Rating</label>
        <div class="star-rating">
            {% for i in "54321" %}
                <input type="radio" name="rating" value="{{ i }}" required> {{ i }} ⭐
            {% endfor %}
        </div>

        <label>Comments</label>
        <textarea name="comments" required maxlength="255"></textarea>

        <label>Suggestions</label>
        <textarea name="suggestions" required maxlength="255"></textarea>

        <button class="btn btn-success" type="submit">
            Submit Feedback
        </button>
    </form>
</div>

{% endblock %}