{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="profile-container">
    <h2>Welcome, {{ request.user.full_name }}</h2>

    <img src="{% static 'images/1.jpg' %}" width="120">

    <p><b>Email:</b> {{ request.user.email }}</p>
    <p><b>Phone:</b> {{ request.user.phone_number }}</p>

    <a href="{% url 'events' %}">My Events</a>

    <form method="post" action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="submit">Logout</button>
    </form>
</div>
{% endblock %}
