{% extends 'admin_base.html' %}
{%load static%}
{% block content %}


<div class="card-box">

  <table class="emp-table">
    <thead>
      <tr>
        <th>SR no</th>
        <th>Full Name</th>
        <th>Email</th>
        <th>Phone No.</th>
      </tr>
    </thead>

    <tbody>
      {% for user in users %}
      <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ user.full_name }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.phone_number }}</td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="5" style="text-align:center;color:gray;">
          No users found
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

</div>

{% endblock content %}